<h2> <%= @search.count %> Results</h2>

<% @search.each do |member| %>
  <div class="member">
    <span class="name"> <%= member.name %></span>
    <span class="role"> <%= member.role %></span>
    <span class="party"> <%= member.party %></span>
    <span class="district"> <%= member.district %></span>
  </div>

<% end %>
